<footer class="border-t-2 border-black dark:border-white container px-4 py-6 mx-auto mt-4">
	<div class="flex flex-wrap md:text-left text-center order-first">
		<div class="lg:w-1/4 md:w-1/2 w-full px-4">
			<h2 class="tracking-widest mb-3 font-bold">CATEGORIES</h2>
			<nav class="list-none mb-10">
				<li><a class="hover:underline cursor-pointer">First Link</a></li>
				<li><a class="hover:underline cursor-pointer">Second Link</a></li>
				<li><a class="hover:underline cursor-pointer">Third Link</a></li>
				<li><a class="hover:underline cursor-pointer">Fourth Link</a></li>
			</nav>
		</div>
		<div class="lg:w-1/4 md:w-1/2 w-full px-4">
			<h2 class="tracking-widest mb-3 font-bold">CATEGORIES</h2>
			<nav class="list-none mb-10">
				<li><a class="hover:underline cursor-pointer">First Link</a></li>
				<li><a class="hover:underline cursor-pointer">Second Link</a></li>
				<li><a class="hover:underline cursor-pointer">Third Link</a></li>
				<li><a class="hover:underline cursor-pointer">Fourth Link</a></li>
			</nav>
		</div>
		<div class="lg:w-1/4 md:w-1/2 w-full px-4">
			<h2 class="tracking-widest mb-3 font-bold">CATEGORIES</h2>
			<nav class="list-none mb-10">
				<li><a class="hover:underline cursor-pointer">First Link</a></li>
				<li><a class="hover:underline cursor-pointer">Second Link</a></li>
				<li><a class="hover:underline cursor-pointer">Third Link</a></li>
				<li><a class="hover:underline cursor-pointer">Fourth Link</a></li>
			</nav>
		</div>
		<div class="lg:w-1/4 md:w-1/2 w-full px-4">
			<h2 class="tracking-widest mb-3 font-bold">SUBSCRIBE</h2>
			<div class="flex xl:flex-no-wrap md:flex-no-wrap lg:flex-wrap flex-wrap justify-center items-end md:justify-start">
				<div class="relative w-40 sm:w-auto xl:mr-4 lg:mr-0 sm:mr-4 mr-2">
					<label for="footer-input" class="leading-7 text-sm">Placeholder</label>
					<input type="text" id="footer-input" class="w-full text-base py-1 px-3 leading-8">
				</div>
				<button class="btn mt-0 ml-2 md:mt-2 md:ml-0 lg:mt-2 lg:ml-0">Button</button>
			</div>
			<p class="text-sm mt-2 md:text-left text-center">Lorem ipsum dolor sit amet,
				<br class="lg:block hidden">consectetur adipiscing elit
			</p>
		</div>
	</div>
</div>

<div class="container py-4 mx-auto flex items-center sm:flex-row flex-col">
	<p class="flex items-center md:justify-start justify-center">
		<img src="assets/img/logo.svg" class="w-16">
		<a style="font-family: Arvo;" class="tracking-widest mx-4">ELEMENTS</a>
	</p>
	<p class="text-sm sm:ml-6 sm:mt-0 mt-4">&copy; <script>document.write(new Date().getFullYear())</script> &mdash; Elements All Rights Reserved</p>
	<span class="inline-flex sm:ml-auto sm:mt-0 mt-4 justify-center sm:justify-start">
		<a class="inline text-center p-4 hover:bg-gray-700 hover:text-white" href="" title="Facebook"><i class="fab fa-facebook-f"></i></a>
		<a class="inline text-center p-4 hover:bg-gray-700 hover:text-white" href="" title="Twitter"><i class="fab fa-twitter"></i></a>
		<a class="inline text-center p-4 hover:bg-gray-700 hover:text-white" href="" title="Instagram"><i class="fab fa-instagram"></i></a>
		<a class="inline text-center p-4 hover:bg-gray-700 hover:text-white" href="" title="YouTube"><i class="fab fa-youtube"></i></a>
		<a class="inline text-center p-4 hover:bg-gray-700 hover:text-white" href="" title="Reddit"><i class="fab fa-reddit-alien"></i></a>
		<a class="inline text-center p-4 hover:bg-gray-700 hover:text-white" href="" title="Messenger"><i class="fab fa-facebook-messenger"></i></a>
		<a class="inline text-center p-4 hover:bg-gray-700 hover:text-white" href="" title="Email"><i class="fas fa-envelope"></i></a>
		<a class="inline text-center p-4 hover:bg-gray-700 hover:text-white" href="" title="Kickstarter"><i class="fab fa-kickstarter-k"></i></a>
	</span>
</footer>