{% if site.google_analytics %}
<script>
    (function (i, s, o, g, r, a, m) {
        i['GoogleAnalyticsObject'] = r; i[r] = i[r] || function () {
            (i[r].q = i[r].q || []).push(arguments)
        }, i[r].l = 1 * new Date(); a = s.createElement(o),
            m = s.getElementsByTagName(o)[0]; a.async = 1; a.src = g; m.parentNode.insertBefore(a, m)
    })(window, document, 'script', 'https://www.google-analytics.com/analytics.js', 'ga');
    ga('create', '{{ site.google_analytics }}', 'auto');
    ga('send', 'pageview');
</script>
{% endif %}

<!-- <script>
	window.onload = function() {
		const darkmode_toggle = document.getElementById('darkmode-toggle');
		darkmode_toggle.onclick = function() {
			if(darkmode_toggle.checked) {
				document.getElementsByTagName('html')[0].classList.add('dark');
				document.querySelector('.toggle__label[for=darkmode-toggle]').innerHTML = 'Dark Mode';
			} else {
				document.getElementsByTagName('html')[0].classList.remove('dark');
				document.querySelector('.toggle__label[for=darkmode-toggle]').innerHTML = 'Light Mode';
			}
		}
	}
</script> -->

<!-- <script>

let x, y;

document.onmousemove = function(e) {
    x = e.clientX;
    y = e.clientY;
    updateProps();
};

document.onscroll = updateProps;

function updateProps() {
    document.body.style.setProperty('--x',(x)+'px');
    document.body.style.setProperty('--y',(y + document.documentElement.scrollTop)+'px');
}
</script> -->