@tailwind base;
@tailwind components;
@tailwind utilities;

/*
 * Extract Tailwind CSS components here according to the docs.
 * https://tailwindcss.com/docs/extracting-components/#extracting-css-components-with-apply
*/
@layer base {
	p,
	h1,
	h2,
	h3,
	h4,
	input,
	label,
	li,
	th,
	td,
	a,
	code,
	strong,
	li::before,
	figcaption {
		color: black !important;
	}
	.dark p,
	.dark h1,
	.dark h2,
	.dark h3,
	.dark h4,
	.dark label,
	.dark li,
	.dark th,
	.dark td,
	.dark a,
	.dark code,
	.dark strong,
	.dark li::before,
	.dark figcaption {
		color: white !important;
	}
	.hover\:text-white:hover {
		color: white !important;
	}
	.hover\:text-black:hover {
		color: black !important;
	}
	*:not(h1):not(h2):not(h3):not(h4) {
		font-family: Open Sans;
	}
	h1,
	h2,
	h3,
	h4 {
		font-family: Arvo;
	}
	.dropcap {
		/*font-family: Arvo;*/
		@apply text-3xl;
		/*padding-right: 0.125rem;*/
	}
	hr {
		border-color: white !important;
	}
	.elements {
		font-family: Arvo;
		font-weight: normal;
		@apply tracking-widest;
	}
	details {
		color: white;
		font-weight: inherit;
	}
	details summary {
		cursor: pointer;
		margin-bottom: 0.25rem;
	}
	details[open] summary ~ * {
		animation: sweep 0.5s linear;
	}
	@keyframes sweep {
		0% {
			opacity: 0;
			margin-left: -12px;
		}
		100% {
			opacity: 1;
			margin-left: 0px;
		}
	}

	/* cursor */
	/* * {
		cursor: none;
		margin: 0;
		padding: 0;
	}
	body:before {
		content: '';
		position: absolute;
		z-index: 999;
		top: var(--y);
		left: var(--x);
		right: 0;
		bottom: 0;
		width: 1.5em;
		height: 1.5em;
		border-radius: 50%;
		transform: translate(-50%, -50%);
		background: #fff;
		mix-blend-mode: difference;
	} */
}
@layer components {
	.custom-underline-blue {
		@apply border-b-4 border-blue-400;
	}

	.custom-underline-red {
		@apply border-b-4 border-red-400;
	}

	.btn {
		@apply bg-gray-700 text-white p-2 text-base border-b-4 border-gray-900 hover:bg-gray-600 hover:border-gray-700;
	}
	.btn.yellow {
		@apply bg-yellow-700 border-yellow-900 hover:bg-yellow-600 hover:border-yellow-700;
	}
	.btn.kickstarter {
		/*background-color: #05ce78;*/
		background-color: #000;
		/*border: 0.25rem solid white;*/
		border: 0.25rem solid #05ce78;
		font-weight: 900;
		color: #05ce78;
	}
	.btn.kickstarter:hover,
	.btn.kickstarter:active {
		color: #fff;
		background-color: #04ae65;
	}
	/*    .btn:active, .btn.yellow:active {
        @apply mt-5 border-transparent mb-3;
    }*/
	*:focus,
	.btn:focus {
		@apply outline-none ring-4 ring-gray-300;
	}
	*:not(.btn):not(input):focus {
		text-decoration: underline;
	}

	.toggle__container {
		@apply relative inline-block w-10 mr-2 align-middle select-none transition duration-200 ease-in;
	}
	.toggle__checkbox {
		@apply left-0 absolute block w-6 h-6 rounded-full bg-white border-4 appearance-none cursor-pointer;
	}
	.toggle__checkbox:checked {
		@apply left-4 border-gray-700;
	}

	.toggle__checkbox + .toggle__bg {
		@apply block overflow-hidden h-6 rounded-full bg-gray-300 cursor-pointer;
	}
	.toggle__checkbox:checked + .toggle__bg {
		@apply bg-gray-700;
	}
	.toggle__label {
		@apply text-xs text-gray-700;
	}

	::-moz-selection {
		background: #f7941d;
	}
	::selection {
		background: #f7941d;
	}
	input::-moz-selection {
		background: #f7941d;
	}
	input::selection {
		background: #f7941d;
	}

	br,
	img,
	nav {
		-webkit-user-select: none; /* Safari */
		-moz-user-select: none; /* Firefox */
		-ms-user-select: none; /* IE10+/Edge */
		user-select: none; /* Standard */
	}

	/*rules images*/
	.hide {
		opacity: 0;
		transform: translate3d(0, -50%, 0);
		-webkit-transform: translate3d(0, -50%, 0);
	}
	.show {
		opacity: 1;
		transform: translateZ(0);
		-webkit-transform: translateZ(0);
		transition: all 0.5s;
	}
}

/*  - {name: "Fire", value: "#ed1b31"}
  - {name: "Water", value: "#1b449c"}
  - {name: "Gem", value: "#00ad4d"}
  - {name: "Electric", value: "#ffda00"}
  - {name: "Great Spell", value: "#f7941d"}*/
